{% extends "base.html" %}
{% load static %}

{% block content %}
  <style>
    .custom-container {
      background-color: #696969;
      padding: 20px;
    }

    .center-text {
      text-align: center;
      color: #FFFFFF;
    }
  </style>

  <section class="vh-50">
    <div class="container py-5 h-75">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="{% static 'images/mainpicture.jpg' %}" class="img-fluid" alt="head">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <div class="container custom-container">
            <div class="row">
              <div class="col-md-12 center-text">
                <h2>Hello, I am... FAMILY CART!</h2>
                <p>The Family Cart shopping list application is an invaluable tool for anyone looking to make their shopping more organized and efficient. With it, you can easily create personalized shopping lists by adding products according to categories or preferences. The application was built using the Django framework. It is the final project as part of the Python course at the Software Development Academy (SDA).
                  <br><br>
                  <a href="{% url 'register' %}" style="color: white;">Sign up</a> or <a href="{% url 'user_login' %}" style="color: white;">log in</a>, and take your shopping to the next level!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

